{% extends 'socnet/base.html' %}
{% block title %}SMM{% endblock %}</title>
 
{% block content %}
<div class = "container">
 <br>
 <p>Это страница СММ-бота <a href='https://t.me/navalny_smm_bot' target="blank">@navalny_smm_bot</a>. Он умеет присылать сообщения о новых постах в соцсетях в телеграм-каналы.<br>Для регменов он еще умеет присылать посты только по отдельным штабам — для этого нужна настройка через <a href="/admin" target="blank">админку</a>. За доступом обращайтесь к <a href="https://t.me/itkin" target="blank">@itkin</a>.</p>
</div>
{% endblock %}


